<!DOCTYPE html>
<html lang="IT">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Your Posts</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../css/style-artist-v1.css">
    </head>
    <body>
        <nav class="top-bar-area-overlay-fixed bg-dark d-flex-row align-items-center j-c-center white z-index-max top-0 shadow-dark-400">
            <div class="container d-flex-row align-items-center j-c-end">
                <button class="bg-purple-300 d-flex-row align-items-center j-c-center fsize-xs-2 f-w-500 w-36px h-36px" onclick='location.href="post-creation.html"'>
                    <img src="../assets/icons/plus-black.svg" alt="">
                </button>
            </div>
        </nav>
        
        <div class="container pt-xs-20 pt-lg-6 pb-xs-24 pb-lg-8">
            <div>
                <h1>I tuoi post</h1>
            </div>

            <section id="thread" class="mt-xs-4 mt-lg-4">
                <a href="fanclub-thread-detail.html">
                    <div class="d-flex-column fsize-xs-3 border-radius-08 p-xs-6 mb-xs-4 bg-dark-soft">
                        <div class="fsize-xs-2">
                            <div class="d-flex-row j-c-start align-items-center mt-xs-2 greyish-400">
                                <img src="../assets/icons/icon-star-xs.svg" alt="">
                                <span class="ml-xs-2 f-w-500 fsize-xs-2 letter-spacing-1">Arctic Monkeys</span>
                            </div>
                            <div class="d-flex-row j-c-start align-items-center mt-xs-2">
                                <span class="mt-xs-2 mb-xs-2 f-w-600 gold">YOU:</span>
                            </div>

                            <div class="d-flex-column">
                                <p class="font-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi magnam vero, ducimus ullam tempore quos saepe ratione corrupti, at natus beatae facilis quae illo quas neque, nobis similique qui officia!</p>
                            </div>

                            <div class="d-flex-row j-c-end align-items-center mt-xs-2 greyish-400">
                                <span class="pt-xs-1 pb-xs-1 pl-xs-2 pr-xs-2 fsize-xs-2 border-radius-100 bg-grey-transp50">10:32</span>
                            </div>
                        </div>

                        <div class="d-flex-row j-c-space-between align-items-center mt-xs-4 pt-xs-4 f-w-500 purple-200 border-top-dark-01">
                            <span>667 comments</span>
                            <img src="../assets/icons/icon-arrowright-rounded.svg" alt="">
                        </div>
                    </div>
                </a>

                <a href="fanclub-thread-detail.html">
                    <div class="d-flex-column fsize-xs-3 border-radius-08 p-xs-6 mb-xs-4 bg-dark-soft">
                        <div class="fsize-xs-2">
                            <div class="d-flex-row j-c-start align-items-center mt-xs-2 greyish-400">
                                <img src="../assets/icons/icon-star-xs.svg" alt="">
                                <span class="ml-xs-2 f-w-500 fsize-xs-2 letter-spacing-1">Arctic Monkeys</span>
                            </div>
                            <div class="d-flex-row j-c-start align-items-center mt-xs-2">
                                <span class="mt-xs-2 mb-xs-2 f-w-600 gold">YOU:</span>
                            </div>

                            <div class="d-flex-column">
                                <img class="w-100 object-fit-cover mb-xs-2 border-radius-06" src="https://yt3.ggpht.com/AsSq27Ed0mQg5nkXPKMFurMWRakUujyspvg2B_t03dg7nkyIn11GeKRRKSLwK57zyUV11vVT=s900-c-k-c0x00ffffff-no-rj" alt="">
                                <p class="font-body">New album out in 30 days, noone knows yet except for... you!</p>
                            </div>
                            
                            <div class="d-flex-row j-c-end align-items-center mt-xs-2 greyish-400">
                                <span class="pt-xs-1 pb-xs-1 pl-xs-2 pr-xs-2 fsize-xs-2 border-radius-100 bg-grey-transp50">11:47</span>
                            </div>
                        </div>

                        <div class="d-flex-row j-c-space-between align-items-center mt-xs-4 pt-xs-4 f-w-500 purple-200 border-top-dark-01">
                            <span>1725 comments</span>
                            <img src="../assets/icons/icon-arrowright-rounded.svg" alt="">
                        </div>
                    </div>
                </a>
            </section>
        </div>            
        
        <div class="app-bar-area d-flex-row j-c-center z-index-max">            
            <div class="container d-flex-row align-items-center j-c-space-between">
                <a href="">
                    <div class="d-flex-column align-items-center">
                        <img src="../assets/icons/icon-rankings-inactive.svg" alt="Classifiche">
                        <span class="fsize-xs-0 f-w-300 dark-200 letter-spacing-1">Classifiche</span>
                    </div>
                </a>
                <a href="metrics-full.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../assets/icons/icon-metrics-inactive.svg" alt="Metriche">
                        <span class="fsize-xs-0 f-w-300 dark-200 letter-spacing-1">Metriche</span>
                    </div>
                </a>
                <a href="posts-full.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../assets/icons/icon-chat-active.svg" alt="Fan club">
                        <span class="fsize-xs-0 f-w-600 purple-200 letter-spacing-1">Fan club</span>
                    </div>
                </a>   
            </div>
        </div> 
    </body>
</html>