<!DOCTYPE html>
<html lang="IT">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>FLASH leaderboard live now</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../css/style-artist-vcurrent.css">
    </head>
    <body>
        <nav class='top-bar-area-overlay-fixed d-flex-row align-items-center j-c-center white z-index-max top-0'>
            <div class="container d-flex-row align-items-center j-c-space-between w-100">
                <a class="avatar-28" href="leaderboard-open.html">
                    <img class="avatar-28 bg-dark-soft-transp75 border-radius-100" src='../../assets/icons/icon-arrowleft.svg' />
                </a>

                <div class='d-flex-row align-items-center j-c-center bg-black-transp50 pt-xs-1 pb-xs-1 pl-xs-2 pr-xs-4 border-radius-100'>
                    <div class="avatar-32 position-relative mr-xs-4">
                        <img class="avatar-32 border-radius-100" src='../../assets/images/artist-image.png' />
                        <img class="artist-avatar-verified-icon avatar-12" src='../../assets/icons/icon-verified-artist.svg' />
                    </div>                    
                    <h2 class="f-w-600 fsize-xs-1 letter-spacing-1 flex-no-wrap">Artist name</h2>
                </div>

                <div class='d-flex-row align-items-center j-c-center bg-black-transp50 pt-xs-1 pb-xs-1 pl-xs-2 pr-xs-2 border-radius-100'>
                    <img class="avatar-18 border-radius-100" src='../../assets/icons/icon-person.svg' />
                    <p class="fsize-xs-1 f-w-500">7438</p>
                </div>
            </div>
        </nav>

        <header class='position-relative h-xs-20 position-fixed w-100 z-index-5 top-0'>
            <img class="w-100 h-inherit object-fit-cover" src='../../assets/images/artist-cover.png' />
        </header>
        
        <div class="container mt-avatar-header-2 pb-xs-24 pb-md-8">
            <div class="d-flex-column position-sticky top-navbar z-index-max">
                <div class="d-flex-row align-items-center j-c-space-between gap-0_5em">
                    <a class="w-music-product d-inline-flex-row align-items-center j-c-space-between gap-0_5em bg-black-transp50 border-radius-100 pl-xs-4 pr-xs-2 pt-xs-1 pb-xs-1" to='https://open.spotify.com/intl-it/track/5Hjy8lyZ4h99OjrW8jzPQ8' target='blank'>
                        <span class="fsize-xs-2 green-spotify f-w-600 t-overflow-ellipsis overflow-hidden flex-no-wrap">Nome canzone</span>
                        <div class="d-flex-row align-items-center">
                            <span class="fsize-xs-2 green-spotify f-w-600 grow-1 flex-no-wrap">Ascoltalo su</span>
                            <img class="avatar-32 border-radius-100" src='../../assets/icons/icon-spotify-green.svg' />
                        </div>
                    </a>
                    <div id="open-modal" class="d-flex-row align-items-center j-c-center border-radius-100 avatar-40 bg-black-transp50 position-relative">
                        <div class="position-absolute-x-y bg-gold-transp25 border-radius-100 z-index-1 flash-animation-badge-icon"></div>
                        <img class="avatar-32 z-index-2" src='../../assets/icons/icon-info-lime.svg' />
                    </div>
                </div>
            </div>

            <section>
                <div class="mb-xs-4 mt-xs-4">
                    <div class="d-flex-row j-c-center">
                        <div class="d-flex-column align-items-center w-33 position-relative gap-0_5em">
                            <div class='first-position position-relative'>
                                <img class='position-absolute-x-y first-position-graphic z-index-2' src='../../assets/illustrations/flash-podium-1.png' />
                                
                                <img class="first-position position-absolute-x-y object-fit-cover border-radius-100 p-xs-6 z-index-1" src='../../assets/images/fan-1.jpg' />
                            </div>

                            <div class="d-flex-column align-items-center">
                                <span class="fsize-xs-1 t-align-center letter-spacing-1">_lo_03_</span>
                                <div class="d-flex-row letter-spacing-1">
                                    <span class="grey-400 fsize-xs-1 letter-spacing-1">100</span>
                                    <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex-row j-c-start mt-xs-negative10">
                        <div class="d-flex-column align-items-center w-33 position-relative gap-0_5em">
                            <div class='second-position position-relative'>
                                
                                <img class='position-absolute-x-y second-position-graphic z-index-2' src='../../assets/illustrations/flash-podium-2.png' />

                                <img class="second-position position-absolute-x-y object-fit-cover border-radius-100 p-xs-6 z-index-1" src='../../assets/images/fan-2.jpg' />
                            </div>

                            <div class="d-flex-column align-items-center">
                                <span class="fsize-xs-1 t-align-center letter-spacing-1">kingOfSpades</span>
                                <div class="d-flex-row letter-spacing-1">
                                    <span class="grey-400 fsize-xs-1 letter-spacing-1">99</span>
                                    <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex-row j-c-end mt-xs-negative35">
                        <div class="d-flex-column align-items-center w-33 position-relative gap-0_5em">
                            <div class='third-position position-relative'>
                                <img class='position-absolute-x-y third-position-graphic z-index-2' src='../../assets/illustrations/flash-podium-3.png' />

                                <img class="third-position position-absolute-x-y object-fit-cover border-radius-100 p-xs-6 z-index-1" src='../../assets/images/fan-3.jpg' />
                            </div>

                            <div class="d-flex-column align-items-center">
                                <span class="fsize-xs-1 t-align-center letter-spacing-1">Maria</span>
                                <div class="d-flex-row letter-spacing-1">
                                    <span class="grey-400 fsize-xs-1 letter-spacing-1">98</span>
                                    <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <article class='d-flex-row align-items-center j-c-space-between bg-dark-gradient pb-xs-2 pt-xs-2 pr-xs-4 pl-xs-2 border-radius-100 mb-xs-2'>
                    <div class="d-flex-row align-items-center w-100">
                        <img class="avatar-38 border-radius-100 mr-xs-4" src='../../assets/images/fan-4.jpg' />
                        <div class="text-info d-flex-column">
                            <div class="letter-spacing-1">brodi__k</div>
                            <div class="d-flex-row letter-spacing-1">
                                <div class="grey-400 fsize-xs-1 letter-spacing-1">97 </div>
                                <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' alt=" points" />
                            </div>
                        </div>
                    </div>
                    <span class="fsize-xs-7 f-w-300">4°</span>
                </article>

                <article class='d-flex-row align-items-center j-c-space-between bg-dark-gradient pb-xs-2 pt-xs-2 pr-xs-4 pl-xs-2 border-radius-100 mb-xs-2'>
                    <div class="d-flex-row align-items-center w-100">
                        <img class="avatar-38 border-radius-100 mr-xs-4" src='../../assets/images/fan-6.jpg' />
                        <div class="text-info d-flex-column">
                            <div class="letter-spacing-1">Ha_11_3_l_u</div>
                            <div class="d-flex-row letter-spacing-1">
                                <div class="grey-400 fsize-xs-1 letter-spacing-1">89 </div>
                                <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' alt=" points" />
                            </div>
                        </div>
                    </div>
                    <span class="fsize-xs-7 f-w-300">5°</span>
                </article>

                <article class='d-flex-row align-items-center j-c-space-between bg-dark-gradient pb-xs-2 pt-xs-2 pr-xs-4 pl-xs-2 border-radius-100 mb-xs-2'>
                    <div class="d-flex-row align-items-center w-100">
                        <img class="avatar-38 border-radius-100 mr-xs-4" src='../../assets/images/fan-7.jpg' />
                        <div class="text-info d-flex-column">
                            <div class="letter-spacing-1">Mienere</div>
                            <div class="d-flex-row letter-spacing-1">
                                <div class="grey-400 fsize-xs-1 letter-spacing-1">76 </div>
                                <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' alt=" points" />
                            </div>
                        </div>
                    </div>
                    <span class="fsize-xs-7 f-w-300">6°</span>
                </article>

                <article class='d-flex-row align-items-center j-c-space-between bg-dark-gradient pb-xs-2 pt-xs-2 pr-xs-4 pl-xs-2 border-radius-100 mb-xs-2'>
                    <div class="d-flex-row align-items-center w-100">
                        <img class="avatar-38 border-radius-100 mr-xs-4" src='../../assets/images/fan-9.jpg' />
                        <div class="text-info d-flex-column">
                            <div class="letter-spacing-1">rafiki</div>
                            <div class="d-flex-row letter-spacing-1">
                                <div class="grey-400 fsize-xs-1 letter-spacing-1">55 </div>
                                <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' alt=" points" />
                            </div>
                        </div>
                    </div>
                    <span class="fsize-xs-7 f-w-300">7°</span>
                </article>

                <article class='d-flex-row align-items-center j-c-space-between bg-dark-gradient pb-xs-2 pt-xs-2 pr-xs-4 pl-xs-2 border-radius-100 mb-xs-2'>
                    <div class="d-flex-row align-items-center w-100">
                        <img class="avatar-38 border-radius-100 mr-xs-4" src='../../assets/images/fan-8.jpg' />
                        <div class="text-info d-flex-column">
                            <div class="letter-spacing-1">fine</div>
                            <div class="d-flex-row letter-spacing-1">
                                <div class="grey-400 fsize-xs-1 letter-spacing-1">49 </div>
                                <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' alt=" points" />
                            </div>
                        </div>
                    </div>
                    <span class="fsize-xs-7 f-w-300">8°</span>
                </article>

                <article class='d-flex-row align-items-center j-c-space-between bg-dark-gradient pb-xs-2 pt-xs-2 pr-xs-4 pl-xs-2 border-radius-100 mb-xs-2'>
                    <div class="d-flex-row align-items-center w-100">
                        <img class="avatar-38 border-radius-100 mr-xs-4" src='../../assets/images/fan-9.jpg' />
                        <div class="text-info d-flex-column">
                            <div class="letter-spacing-1">karkaroff</div>
                            <div class="d-flex-row letter-spacing-1">
                                <div class="grey-400 fsize-xs-1 letter-spacing-1">23 </div>
                                <img class="ml-xs-2" src='../../assets/icons/icon-point-xs.svg' alt=" points" />
                            </div>
                        </div>
                    </div>
                    <span class="fsize-xs-7 f-w-300">9°</span>
                </article>
            </section>
        </div>

        <div class="position-fixed bottom-0 w-100 z-index-5">
            <div class="bg-dark-overlay-header">
                <div class="container position-relative h-inherit d-flex-column j-c-end">
                    <div class="d-flex-column grow-1 gap-0_5em mb-xs-2 bg-dark-overlay-header-3">
                        <div class='d-flex-row gap-0_5em align-items-center'>
                            <img class='avatar-24 border-radius-100 bg-white-transp25' src='../../assets/icons/icon-music.svg' />
                            <span class='fsize-xs-2'>song title</span>
                        </div>
                        <div class='d-flex-row gap-0_5em align-items-start'>
                            <div class='d-flex-row gap-0_25em align-items-center no-shrink'>
                                <img class='avatar-24 border-radius-100 bg-white-transp25' src='../../assets/icons/icon-message-color-03.svg' />
                                <span class='fsize-xs-2 f-w-700 color03'>fra:</span>
                            </div>
                            <span class='fsize-xs-2 mt-xs-1'>AMOOO questa canzone</span>
                        </div>
                        <div class='d-flex-row gap-0_5em align-items-center'>
                            <img class='avatar-24 border-radius-100 bg-white-transp25' src='../../assets/icons/icon-music.svg' />
                            <span class='fsize-xs-2'>song title</span>
                        </div>
                        <div class='d-flex-row gap-0_5em align-items-start'>
                            <div class='d-flex-row gap-0_25em align-items-center no-shrink'>
                                <img class='avatar-24 border-radius-100 bg-white-transp25' src='../../assets/icons/icon-message-color-03.svg' />
                                <span class='fsize-xs-2 f-w-700 color03'>dani:</span>
                            </div>
                            <span class='fsize-xs-2 mt-xs-1'>ti seguo sin dagli inizi</span>
                        </div>
                    </div>

                    <div class='d-flex-row align-items-center pt-xs-1 pb-xs-1 pl-xs-1 pr-xs-2 mb-xs-2 mt-xs-2 bg-white-transp15 border-radius-100 w-max-content'>
                        <img class='avatar-28' src='../../assets/icons/icon-time.svg' />
                        <p class="fsize-xs-2 no-shrink"><span class="f-w-600">Time left:</span> <span class="f-w-600">1</span>d <span class="f-w-600">23</span>h <span class="f-w-600">12</span>min <span class="f-w-600">3</span>s</p>
                    </div>
                </div>
            </div>
            
            <section class="text-bar-live-chat">
                <form class="container d-flex-row align-items-center gap-1em">
                    <input type="text" name="user-message" placeholder="Chatta con i tuoi fan" />
                    <button class="chat-button d-flex-row align-items-center j-c-center bg-acid-lime"><img src='../../assets/icons/icon-arrow-up.svg' /></button>
                </form>                
            </section>
        </div>

        <div id="modal" class='position-fixed bottom-hidden h-98 bg-dark w-100 full-screen-modal slide-down'>
            <nav class='d-flex-row align-items-center j-c-center white z-index-max top-0'>
                <div class="container d-flex-row align-items-center j-c-start w-100">
                    <div id="close-modal" class="avatar-28">
                        <img class="avatar-28 bg-dark-soft-transp75 border-radius-100" src='../../assets/icons/icon-arrowleft.svg' />
                    </div>
                </div>
            </nav>

            <div class="container">
                <h1 class="fsize-xs-4 grey-200 f-w-600 mb-xs-4">Vinci i badge di SUPER FAN</h1>

                <div class="carousel d-flex-row overflow-x mt-xs-2 mt-lg-2">
                    <div class="d-flex-column j-c-space-between w-min-100 bg-dark-soft pt-xs-6 pb-xs-8 pl-xs-8 pr-xs-4 border-radius-1 gap-1em mr-xs-2 position-relative overflow-all-hidden">
                        <p class="fsize-xs-10 f-w-700 lime-400 line-height-1 z-index-2">SUPER </br> FAN #1</p>
                        
                        <span class="f-w-300 grey-200 w-50 z-index-2">della classifica FLASH sul brano</span>
                        <span class="fsize-xs-6 f-w-600 white w-60 z-index-2">Titolo del brano</span>
            
                        <img class="position-absolute right-0 bottom-12 flash-badge-image-rotation w-45 z-index-1" src='../../assets/illustrations/GOLD.png' alt="" />
                    </div>
                    <div class="d-flex-column j-c-space-between w-min-100 bg-dark-soft pt-xs-6 pb-xs-8 pl-xs-8 pr-xs-4 border-radius-1 gap-1em mr-xs-2 position-relative overflow-all-hidden">
                        <p class="fsize-xs-10 f-w-700 lime-400 line-height-1 z-index-2">SUPER </br> FAN #2</p>
                        
                        <span class="f-w-300 grey-200 w-50 z-index-2">della classifica FLASH sul brano</span>
                        <span class="fsize-xs-6 f-w-600 white w-60 z-index-2">Titolo del brano</span>
            
                        <img class="position-absolute right-0 bottom-12 flash-badge-image-rotation w-45 z-index-1" src='../../assets/illustrations/SILVER.png' alt="" />
                    </div>
                    <div class="d-flex-column j-c-space-between w-min-100 bg-dark-soft pt-xs-6 pb-xs-8 pl-xs-8 pr-xs-4 border-radius-1 gap-1em mr-xs-2 position-relative overflow-all-hidden">
                        <p class="fsize-xs-10 f-w-700 lime-400 line-height-1 z-index-2">SUPER </br> FAN #3</p>
                        
                        <span class="f-w-300 grey-200 w-50 z-index-2">della classifica FLASH sul brano</span>
                        <span class="fsize-xs-6 f-w-600 white w-60 z-index-2">Titolo del brano</span>
            
                        <img class="position-absolute right-0 bottom-12 flash-badge-image-rotation w-45 z-index-1" src='../../assets/illustrations/BRONZE.png' alt="" />
                    </div>
                    <div class="d-flex-column j-c-space-between w-min-100 bg-dark-soft pt-xs-6 pb-xs-8 pl-xs-8 pr-xs-4 border-radius-1 gap-1em mr-xs-2 position-relative overflow-all-hidden">
                        <p class="fsize-xs-10 f-w-700 lime-400 line-height-1 z-index-2">SUPER </br> FAN #4</p>
                        
                        <span class="f-w-300 grey-200 w-50 z-index-2">della classifica FLASH sul brano</span>
                        <span class="fsize-xs-6 f-w-600 white w-60 z-index-2">Titolo del brano</span>
            
                        <img class="position-absolute right-0 bottom-12 flash-badge-image-rotation w-45 z-index-1" src='../../assets/illustrations/GENERIC.png' alt="" />
                    </div>
                </div>

                <h3 class="fsize-xs-4 grey-200 f-w-600 mt-xs-10 mb-xs-4">Come guadagnare punti</h3>
                <div class="d-flex-row gap-0_5em">
                    <span class="fsize-xs-4 f-w-600 grey-200">x3</span>
                    <p class="fsize-xs-1 grey-300">Ogni ascolto del brano “Titolo del brano” vale 3 punti: ti permette di scalare la classifica FLASH più velocemente.</p>
                </div>
                <div class="d-flex-row gap-0_5em mt-xs-4">
                    <span class="fsize-xs-4 f-w-600 grey-200">x1</span>
                    <p class="fsize-xs-1 grey-300">Ogni altro brano di Artist name ti fa fare 1 punto, e viene conteggiato massimo 3 volte al giorno.</p>
                </div>
            </div>
        </div>

    </body>

    <script>
        let modal = document.getElementById('modal')
        let buttonOpenModal = document.getElementById('open-modal')
        let buttonCloseModal = document.getElementById('close-modal')

        buttonOpenModal.addEventListener('click', () => {
            modal.classList.remove('slide-down')
            modal.classList.add('slide-up')
        })

        buttonCloseModal.addEventListener('click', () => {
            modal.classList.remove('slide-up')
            modal.classList.add('slide-down')
        })
    </script>
</html>