<!DOCTYPE html>
<html lang="IT">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Your Profile</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../css/style-artist-vcurrent.css">
    </head>
    <body>
        <nav class="top-bar-area-overlay-fixed bg-dark d-flex-row align-items-center j-c-center white z-index-max top-0 shadow-dark-400">
            <div class="container d-flex-row align-items-center j-c-space-between">
                <div class="d-flex-row align-items-center j-c-center">
                    <img src="../../assets/logo/logo-simple-artists.svg" alt="MIDLY">
                </div>
            </div>
        </nav>
        
        <div class="container pb-xs-appbar pt-xs-topbar">
            <h1 class="font-heading">Profile</h1>

            <div class="mt-xs-2 d-flex-row align-items-center gap-0_5em">
                <!-- <div class="avatar-80 border-radius-100 bg-purple-300 d-flex-row align-items-center j-c-center">
                    <span class="white f-w-500 fsize-xs-5">A</span>
                </div> -->
                <img class="avatar-80 border-radius-100" src="../../assets/images/placeholder.jpg" alt="{{user-name}}">
                <div class="d-flex-column">
                    <h5 class="fsize-xs-4 f-w-500 font-heading mb-xs-4">Artist name</h5>
                    <span class="grey-200 fsize-xs-2 font-body">artist@email.me</span>
                </div>                
            </div>

            <!-- <section id="your-money" class="mt-xs-10">
                <h4 class="fsize-xs-4 mb-lg-1 letter-spacing-1 f-w-600 font-heading">Riscuoti gli incassi</h4>

                <article class="bg-dark-gradient-radial border-radius-1 pt-xs-8 pb-xs-2 pr-xs-8 pl-xs-8">
                    <div class="mb-xs-4">
                        <h5 class="fsize-xs-3 f-w-500 font-heading mb-xs-2">Riscuoti gli incassi</h5>
                        <p class="font-body f-w-400 fsize-xs-1 grey-200 line-height-140">Compila i tuoi dati per ricevere i tuoi incassi all'IBAN che desideri.</p>
                    </div>

                    <div class="border-dark w-100 pt-xs-6 pb-xs-6 pl-xs-6 pr-xs-6 border-radius-08">
                        <div class="d-flex-column gap-1em">
                            <div class="d-flex-row j-c-center">
                                <img src="../../assets/illustrations/secure.svg" alt="SECURE">
                            </div>                                
                            <span class="font-special-01 dark-200 fsize-xs-1 fsize-md-3 letter-spacing-1">IT 6 0X 0542811101000000123456</span>
                        </div>
                    </div>

                    <button class="bg-acid-lime dark-900 letter-spacing-1 f-w-500 mt-xs-4 mb-xs-4" onclick="location.href='profile-payment-data-detail-edit.html'">Compila i tuoi dati</button>
                </article>
            </section> -->

            <section id="info" class="mt-xs-12">                
                <div class="d-flex-column mt-xs-2">                 
                    <a class="d-flex-row j-c-space-between mb-xs-3" href="">
                        <div class="d-flex-row align-items-center w-100">
                            <img class="mr-xs-2" src="../../assets/icons/icon-terms.svg" alt="TERMS">
                            <h6 class="fsize-xs-3 f-w-300 font-heading">Termini e condizioni</h6>
                        </div>
                        <img src="../../assets/icons/icon-arrowright-rounded-darker.svg" alt="Go Right">
                    </a>
                    <a class="d-flex-row j-c-space-between mb-xs-3" href="">
                        <div class="d-flex-row align-items-center w-100">
                            <img class="mr-xs-2" src="../../assets/icons/icon-terms.svg" alt="PP">
                            <h6 class="fsize-xs-3 f-w-300 font-heading">Informativa sulla privacy artisti</h6>
                        </div>
                        <img src="../../assets/icons/icon-arrowright-rounded-darker.svg" alt="Go right">
                    </a>
                    <a class="d-flex-row j-c-space-between mb-xs-3" href="">
                        <div class="d-flex-row align-items-center w-100">
                            <img class="mr-xs-2" src="../../assets/icons/icon-cookie.svg" alt="CP">
                            <h6 class="fsize-xs-3 f-w-300 font-heading">Cookie policy</h6>
                        </div>
                        <img src="../../assets/icons/icon-arrowright-rounded-darker.svg" alt="Go right">
                    </a>
                </div>
            </section>

            <div id="logout" class="mt-xs-10 mb-xs-10 mt-lg-4 mb-lg-4">
                <a href="">
                    <h6 class="fsize-xs-3 f-w-500 blue-300 letter-spacing-1 font-heading">Esegui il log out</h6>
                </a>
            </div>
        </div>

        <div class="app-bar-area d-flex-row j-c-center z-index-max">            
            <div class="container d-flex-row align-items-center j-c-space-between">
                <a href="posts-full.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../../assets/icons/icon-fanclub-inactive.svg" alt="Posts">
                        <span class="fsize-xs-0 f-w-300 dark-200 letter-spacing-1">Fanclub</span>
                    </div>
                </a>
                <a href="leaderboard-open.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../../assets/icons/icon-flash-leaderboard-inactive.svg" alt="Premi">
                        <span class="fsize-xs-0 f-w-300 dark-200 letter-spacing-1">Classifica flash</span>
                    </div>
                </a>
                <a href="metrics-full.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../../assets/icons/icon-stats-inactive.svg" alt="Stats">
                        <span class="fsize-xs-0 f-w-300 dark-200 letter-spacing-1">Stats</span>
                    </div>
                </a>                
                <a href="profile-payment-data-empty.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../../assets/icons/icon-profile-active.svg" alt="Profilo">
                        <span class="fsize-xs-0 f-w-600 lime-400 letter-spacing-1">Profilo</span>
                    </div>
                </a>                   
            </div>
        </div> 
        
    </body>
</html>