<!DOCTYPE html>
<html lang="IT">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Artist Create New Post</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../css/style-artist-v1.css">
    </head>
    <body>
        <div class="container">
            <nav class="top-bar-area-block d-flex-row align-items-center j-c-center white z-index-max">
                <div class="container d-flex-row align-items-center j-c-center">
                    <img src="../../assets/logo/logo-simple-artists.svg" alt="MIDLY">
                </div>
            </nav>

            <div class="d-flex-column align-items-center j-c-center no-shrink mt-xs-20">
                <img src="../../assets/icons/icon-success.svg" alt="SUCCESS!">

                <h4 class="fsize-xs-5 mb-xs-4 letter-spacing-2 f-w-500 mt-xs-4 t-align-center">Classifica e premi creati correttamente!</h4>
                <p class="fsize-xs-2 f-w-300 grey-200 letter-spacing-1 mt-xs-4 t-align-center">Abbiamo ricevuto i premi per la classifica di {{meseClassifica}}! Controlleremo la compliance con le nostre policy e ti daremo entro 48 ore, tieni d’occhio lo stato della classifica nell’app!</p>

                <button class="bg-purple-300 dark-900 d-flex-row align-items-center j-c-center fsize-xs-3 letter-spacing-1 f-w-600">Torna alle classifiche</button>
            </div>
        </div>                
    </body>
</html>