<!DOCTYPE html>
<html lang="IT">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Your Rank</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../../css/style-artist-vcurrent.css">
    </head>
    <body>
        <nav class="top-bar-area-overlay-fixed bg-dark d-flex-row align-items-center j-c-center white z-index-max top-0 shadow-dark-400">
            <div class="container d-flex-row align-items-center j-c-space-between">
                <div class="d-flex-row align-items-center j-c-center">
                    <img src="../../assets/logo/logo-simple-artists.svg" alt="MIDLY">
                </div>
            </div>
        </nav>
        
        <div class="container pb-xs-30 pb-lg-8 pt-xs-topbar">
            <div id="current-month">
                <h1>Luglio 2022</h1>
            </div>

            <section id="metrics-empty-state" class="mt-xs-16 mx-xs-auto">
                <a class="w-100 bg-dark-gradient d-flex-column align-items-center j-c-center border-radius-1 h-xs-50">
                    <img class="w-15" src="../../assets/icons/trophy-generic-white.svg" alt="Coppa">
                    <h4 class="fsize-xs-3 mb-xs-4 letter-spacing-1 f-w-400 grey-300 t-align-center mt-xs-2 w-50">Nessuno in classifica questo mese!</h4>
                    <!-- <div class="d-flex-row align-items-center j-c-center mt-xs-6">
                        <img src="../../assets/icons/icon-plus.svg" alt="+">
                        <span class="ml-xs-4 no-shrink letter-spacing-1 white fsize-xs-3">Crea una classifica</span>
                    </div> -->
                </a> 

                <!-- <div class="w-100 bg-dark-gradient d-flex-column align-items-center j-c-center border-radius-08 h-xs-50">
                    <img class="w-15" src="../../assets/icons/trophy-generic-white.svg" alt="Coppa">
                    <h4 class="fsize-xs-3 mb-xs-4 letter-spacing-2 f-w-500 t-align-center mt-xs-2 w-50">Nessuna classifica in questo mese!</h4>
                </div>                 -->
            </section>
        </div>

        <div class="app-bar-area d-flex-row j-c-center z-index-max">            
            <div class="container d-flex-row align-items-center j-c-space-between">
                <a href="posts-empty.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../../assets/icons/icon-chat-inactive.svg" alt="Posts">
                        <span class="fsize-xs-0 f-w-300 dark-200 letter-spacing-1">Posts</span>
                    </div>
                </a>
                <a href="leaderboards-empty.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../../assets/icons/icon-prize-inactive.svg" alt="Premi">
                        <span class="fsize-xs-0 f-w-300 dark-200 letter-spacing-1">Premi</span>
                    </div>
                </a>
                <a href="metrics-empty.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../../assets/icons/icon-metrics-active.svg" alt="Stats">
                        <span class="fsize-xs-0 f-w-600 purple-200 letter-spacing-">Stats</span>
                    </div>
                </a>                
                <a href="profile.html">
                    <div class="d-flex-column align-items-center">
                        <img src="../../assets/icons/icon-profile-inactive.svg" alt="Profilo">
                        <span class="fsize-xs-0 f-w-300 dark-200 letter-spacing-1">Profilo</span>
                    </div>
                </a>                   
            </div>
        </div> 
        
    </body>
</html>